<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col col-12 col-md-4">
        <div class="footer-col-inner">
          <!-- <h3 class="col&#45;title">About</h3> -->
          <h3 class="col-title logo">
            <a href="index.html"><%= image_tag('logo.svg') %><span class="text">Startup Kit</span></a>
          </h3>
          <ul class="footer-menu list-unstyled">
            <li>Call : (866) 601-6803</li>
            <li>Customer Service : (844) 872-8399 </li>
            <li>sales@erasemugshots.com</li>
            <!-- <li><a href="#">Company</a></li> -->
            <!-- <li><a href="#">Blog</a></li> -->
            <!-- <li><a href="#">Jobs</a> <span class="badge badge&#45;success">We're hiring</span></li> -->
            <!-- <li><a href="#">Press</a></li> -->
            <!-- <li><a href="#">Contact</a></li> -->
          </ul>
        </div><!--//footer-col-inner-->
      </div><!--//footer-col-->
      <div class="footer-col col-12 col-md-4">
        <div class="footer-col-inner">
          <h3 class="col-title">Useful Links</h3>
          <ul class="footer-menu list-unstyled">
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Become our partner</a></li>
            <!-- <li><a href="#">FAQs</a></li> -->
          </ul>
        </div>
      </div><!--//footer-col-->
      <div class="footer-col col-12 col-md-4">
        <div class="footer-col-inner">
          <h3 class="col-title">Legal</h3>
          <ul class="footer-menu list-unstyled">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Services</a></li>
            <li><a href="#">Policies</a></li>
          </ul>
        </div>
      </div><!--//footer-col-->
    </div><!--//row-->
    <div class="divider"></div>
    <div class="footer-bottom text-center">
      <ul class="social-media list-inline">
        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      </ul>

      <small class="copyright">Template Copyright @ <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
    </div>
  </div><!--//container-->
</footer><!--//footer-->
