<section id="overview-section" class="overview-section section">
  <h2 class="section-title">
    Remove Your Negative Search Results
  </h2>
  <div class="section-intro">
    Our main focus is on permanently removing negative online content.  We've successfully dealt with all types of situations: news articles, complaints, stalkers, attack and revenge sites, forums, blogs, mugshots, civil legal documents, government links, pictures, videos, and more.
  </div><!--//section-intro-->
  <div class="figures-wrapper">
    <div class="container text-center">
      <figure class="macbook-screen"><%= image_tag('macbook-screen.png', class: "img-fluid") %></figure>
      <figure class="ipad-screen"><%= image_tag('ipad-screen.png', class: "img-fluid") %></figure>
      <figure class="iphone-screen"><%= image_tag('iphone-screen.png', class: "img-fluid") %></figure>
    </div><!--//container-->
  </div><!--//figures-wrapper-->
</section><!--//overview-section-->
