<section id="support-section" class="support-section section text-center">
  <h2 class="section-title">24/7 Customer Support</h2>
  <div class="section-intro">We offer a complete removal solution for arrest records online. We can help you Remove Your Mugshot in 72 hours. Call us today
    Call Us Today
  </div>
  <a class="btn btn-secondary" href="support.html"> Call Our Support Center</a>
  <div class="team-figure">
    <%= image_tag('team.png', class: "img-fluid support-team") %>
  </div><!--//team-figure-->
</section><!--//support-section-->
