<div class="press-wrapper">
  <div class="container">
    <div class="logos row">
      <div class="logo col-6 col-md-3"><%= image_tag('logos/logo-1.svg', class: "img-fluid") %></div>
      <div class="logo col-6 col-md-3"><%= image_tag('logos/logo-2.svg', class: "img-fluid") %></div>
      <div class="logo col-6 col-md-3"><%= image_tag('logos/logo-3.svg', class: "img-fluid") %></div>
      <div class="logo col-6 col-md-3"><%= image_tag('logos/logo-4.svg', class: "img-fluid") %></div>
    </div>
  </div><!--//container-->
</div><!--//press-wrapper-->
</section><!--//overview-section-->
