<header id="header" class="header">
  <div class="container">
    <h1 class="logo">
      <%= logo %>
    </h1><!--//logo-->
    <nav class="main-nav navbar navbar-right navbar-expand-md">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span> </span>
        <span> </span>
        <span> </span>
      </button>
      <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= navigation %>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div><!--//container-->
</header>
