<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-gradient"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">Get a Clean Reputation Online <br/>Today!</h2>
    <p class="tagline">Remove Mugshots And Arrest Records From The Internet<br class="d-none d-md-block">In 72 Hours</p>
    <div class="actions">
      <a href="#" class="play-trigger btn btn-cta btn-primary" data-toggle="modal" data-target="#modal-video" >Free Removal Analysis</a>
      <br class="d-sm-none">
      <a href="pricing.html" class="btn btn-cta btn-ghost">Call Us Now</a>
    </div>
  </div><!--//container-->
</section><!--//heading-section-->

