<section class="apps-section section text-center">
  <h2 class="section-title">Free Mugshot Removal Analysis</h2>
  <div class="container">
    <button type="submit" class="btn btn-primary btn-cta">Click Here to Get Started</button>
  </div><!--//container-->
</section><!--//apps-section-->
