<% body_class "contact-page" %>
<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-solid"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">Get in Touch</h2>
    <div class="meta">We’d love to hear from you. Lorem ipsum dolor sit amet, <br class="d-none d-md-block">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </div>
  </div><!--//container-->
</section><!--//heading-section-->

<div class="contact-methods">
  <div class="container">
    <div class="row">
      <div class="item col-12 col-md-6">
        <div class="item-inner">
          <h4 class="item-title"><i class="fa fa-life-ring" aria-hidden="true"></i> Get Support</h4>
          <div class="item-content">If you have any questions or problems with our product please visit our <a href="support.html">Support Center</a>.</div>
        </div><!--//item-inner-->
      </div><!--//item-->

      <div class="item col-12 col-md-6">
        <div class="item-inner">
          <h4 class="item-title"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> Enterprise Sales</h4>
          <div class="item-content">Lorem ipsum dolor sit amet, consectetuer. Contact our sales team at <a href="tel:0800123456">0800 123 456</a>.</div>
        </div><!--//item-inner-->
      </div><!--//item-->

      <div class="item col-12 col-md-6">
        <div class="item-inner">
          <h4 class="item-title"><i class="fa fa-file-archive-o" aria-hidden="true"></i> Press Inquiries</h4>
          <div class="item-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor <a href="support.html">Download our press kit</a>.</div>
        </div><!--//item-inner-->
      </div><!--//item-->

      <div class="item col-12 col-md-6">
        <div class="item-inner">
          <h4 class="item-title"><i class="fa fa-users" aria-hidden="true"></i> Partnership Inquiries</h4>
          <div class="item-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor <a href="support.html">Use the contact form below</a>.</div>
        </div><!--//item-inner-->
      </div><!--//item-->

    </div><!--//row-->
  </div><!--//container-->
</div><!--//contact-methods-->
<%= cell(:lead_form, Lead.new) %>
