<% body_class "stories-page" %>
<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-solid"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">Thousands of smart People use</h2>
    <div class="intro">Our team of developers and software experts continuously upgrade the m ugshot removal system to make all your worries go in vain. We have helped thousands of clients across the globe by assisting them in getting positive results in no time. Whether they are blogs, articles, or press releases that ta -lks about your name and records with your image, Remove Mugshot will get you a sure shot solution instantly. Remove Mugshots</div>
    <div class="actions">
      <a class="scrollto-no-offset" href="#team-block">Find out why </a>
      <a class="scrollto-no-offset" href="#team-block"><%= image_tag('arrow-icon.svg') %></a>
    </div><!--//actions-->
  </div><!--//container-->
</section><!--//heading-section-->
<%= cell(:features_section, nil) %>
