<div class="modal modal-auth modal-resetpass" id="resetpass-modal" tabindex="-1" role="dialog" aria-labelledby="resetpassModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="resetpassModalLabel" class="modal-title text-center">Forgot your password?</h4>
      </div>
      <div class="modal-body">
        <div class="resetpass-form-container">
          <p class="intro">We'll email you a link to a page where you can easily create a new password.</p>
          <form class="resetpass-form">
            <div class="form-group email">
              <label class="sr-only" for="reg-email">Your Email</label>
              <input id="reg-email" name="reg-email" type="email" class="form-control login-email" placeholder="Your Email">
            </div><!--//form-group-->
            <button type="submit" class="btn btn-block btn-secondary btn-cta">Reset Password</button>
          </form>
        </div><!--//login-form-container-->
        <div class="option-container">
          <div class="lead-text">I want to <a class="back-to-login-link" id="back-to-login-link" href="#">return to login</a></div>
        </div><!--//option-container-->
      </div><!--//modal-body-->
    </div><!--//modal-content-->
  </div><!--//modal-dialog-->
</div>
