<div class="modal modal-auth modal-signup" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="signupModalLabel" class="modal-title text-center">Sign up to start your 30 day free trial!</h4>
      </div>
      <div class="modal-body">
        <div class="social-login text-center">
          <ul class="social-buttons list-unstyled">
            <li><a href="#" class="btn btn-social btn-google btn-block"><i class="fa fa-google" aria-hidden="true"></i><span class="btn-text">Sign up with Google</span></a></li>
            <li><a href="#" class="btn btn-social btn-facebook btn-block"><i class="fa fa-facebook" aria-hidden="true"></i><span class="btn-text">Sign up with Facebook</span></a></li>
          </ul>
        </div>
        <div class="divider">
          <span class="or-text">OR</span>
        </div>
        <div class="login-form-container">
          <form class="login-form">
            <div class="form-group full-name">
              <i class="material-icons icon">&#xE7FD;</i>
              <label class="sr-only" for="signup-fullname">Your Full Name</label>
              <input id="signup-fullname" name="signup-fullname" type="text" class="form-control signup-email" placeholder="Your Full Name">
            </div><!--//form-group-->
            <div class="form-group email">
              <i class="material-icons icon">&#xE0BE;</i>
              <label class="sr-only" for="signup-email">Your Email</label>
              <input id="signup-email" name="signup-email" type="email" class="form-control signup-email" placeholder="Your Email">
            </div><!--//form-group-->
            <div class="form-group password">
              <i class="material-icons icon">&#xE897;</i>
              <label class="sr-only" for="signup-password">Create a Password</label>
              <input id="signup-password" name="signup-password" type="password" class="form-control signup-password" placeholder="Create a Password">
            </div><!--//form-group-->
            <div class="legal-note">By signing up, you agree to our terms of services and privacy policy.</div>
            <button type="submit" class="btn btn-block btn-primary btn-cta">Sign up</button>

          </form>
        </div><!--//login-form-container-->
        <div class="option-container">
          <div class="lead-text">Already have an account?</div>
          <a class="login-link btn btn-ghost-alt" id="login-link" href="#">Log in</a>
        </div><!--//option-container-->
      </div><!--//modal-body-->
    </div><!--//modal-content-->
  </div><!--//modal-dialog-->
</div><!--//modal-->
