<section id="signup-section" class="signup-section section">
  <div class="section-inner">
    <div class="container text-center">
      <div class="counter-container">
      </div><!--//counter-container-->

      <h2 class="counter-desc">Customers Worldwide</h2>

      <div class="form-wrapper">
        <h2 class="form-title">Start Your Free Trial Today</h2>
        <div class="form-box">
          <h3 class="form-heading">30 Day Free Trial</h3>
          <div class="form-desc">Sign up now, it only takes 3 minutes</div>
          <ul class="social-buttons list-unstyled">
            <li><a href="#" class="btn btn-social btn-google"><i class="fa fa-google" aria-hidden="true"></i><span class="btn-text">Sign up with Google</span></a></li>
            <li><a href="#" class="btn btn-social btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span class="btn-text">Sign up with Facebook</span></a></li>
          </ul><!--//social-buttons-->
          <div class="divider">
            <span class="or-text">OR</span>
          </div><!--//divider-->
          <form class="signup-form">
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <label for="firstname" class="sr-only">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
              </div><!--//form-group-->
              <div class="form-group col-12 col-md-6">
                <label for="lastname" class="sr-only">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
              </div><!--//form-group-->
              <div class="form-group col-12 col-md-6">
                <label for="firstname" class="sr-only">Email Address</label>
                <input type="email" class="form-control" id="emailaddress" name="emailaddress" placeholder="Email Address">
              </div><!--//form-group-->
              <div class="form-group col-12 col-md-6">
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Create a Password">
              </div><!--//form-group-->

            </div><!--//row-->
            <div class="legal-note">By signing up, you agree to our terms of services and privacy policy.</div>

            <button type="submit" class="btn btn-primary btn-cta">Start Your Free Trial</button>
            <div class="alter-login">
              Already have an account? <a class="login-link" href="#" data-toggle="modal" data-target="#login-modal">Log in</a>
            </div>
          </form><!--//form-->
        </div><!--//form-box-->
      </div><!--//form-wrapper-->

    </div><!--//container-->
  </div><!--//section-inner-->
</section><!--//signup-section-->
