<div id="features-section" class="feature-blocks container">
  <div id="feature-block-1" class="feature-block feature-block-1">
    <div class="row">
      <div class="feature-content col-lg-4 col-md-6 col-12">
        <h3 class="feature-title">How We Work And What We Do</h3>
        <div class="feature-desc">
          <p>We will work on your behalf to remove your arrest and other personal information from the top 30 background check service providers in the world to greatly reduce the risk of them causing you damage in your personal and professional life. Any person is eligible to work with us. We believe in Internet Privacy and we are here to help restore yours.
          </p>
          <p>Our service is a benefit to anyone who is concerned about their criminal record and other personal data showing up on a background check for employment, housing, or people being nosy. There are NO eligibility requirements, simply purchase our solution and we will contact you to get the required documents, and we will handle the rest.
          </p>
        </div><!--//feature-desc-->
      </div><!--//feature-content-->
      <div class="feature-figure col-lg-8 col-md-6 col-12">
        <div class="figure-holder">
          <%= image_tag('features/feature-1.png', class: "img-fluid") %>
        </div><!--//figure-holder-->
      </div>
    </div><!--//row-->
  </div><!--//feature-block-1-->
  <div id="feature-block-2" class="feature-block feature-block-2">
    <div class="row">
      <div class="feature-content col-lg-4 col-md-6 col-12 order-md-12 order-sm-1">
        <h3 class="feature-title">How Does Our Service Work?</h3>
        <div class="feature-desc">
          <p>Private companies make money every year by giving access to your personal record to anyone with an internet connection.Even if your record has been expunged or sealed this information is very easy to find. Their customers are told not to use the information for employment or housing decisions, but the information is always used to make decisions about who to hire, who to rent to, who to date, and much more.</p>
        </div><!--//feature-desc-->
      </div><!--//feature-content-->
      <div class="feature-figure col-lg-8 col-md-6 col-12 order-md-1 order-sm-12">
        <div class="figure-holder">
          <%= image_tag('features/feature-2.png', class: "img-fluid") %>
        </div><!--//figure-holder-->
      </div>
    </div><!--//row-->
  </div><!--//feature-block-2-->
</div><!--//feature-blocks-->
